.container {
    $background-color: white;
    $text-color: #4A4A4A;
    $selected-text-color: white;
    $unselected-text-color: #A4B3B7;
    $period-color: #CFDCEB;
    $primary-color: #0286D9;

    font-family: Avenir;
    font-weight: 300;
    height: 100vh;
    width: 100vw;
    background-color: $background-color;
    .datepicker {
        height: 100%;
        width: 100%;
        color:  $text-color;
        font-family: Arial;
        font-size: 14px;
        font-weight: 300;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: 2fr repeat(7, 1fr);
        grid-template-areas:
            "mes--anterior ano ano ano ano ano mes--posterior"         
            "cab--domingo cab--segunda cab--terca cab--quarta cab--quinta cab--sexta cab--sabado"
            "domingo--0 segunda--0 terca--0 quarta--0 quinta--0 sexta--0 sabado--0"
            "domingo--1 segunda--1 terca--1 quarta--1 quinta--1 sexta--1 sabado--1"
            "domingo--2 segunda--2 terca--2 quarta--2 quinta--2 sexta--2 sabado--2"
            "domingo--3 segunda--3 terca--3 quarta--3 quinta--3 sexta--3 sabado--3"
            "domingo--4 segunda--4 terca--4 quarta--4 quinta--4 sexta--4 sabado--4"
            "domingo--5 segunda--5 terca--5 quarta--5 quinta--5 sexta--5 sabado--5";
        grid-row-gap: 2px;
        .flex {
            display: flex;
        }
        .justify-center {
            justify-content: center;
        }
        .align-center {
            align-self: center;
        }
        .selecionado {
            color: $selected-text-color;
            background: $primary-color;
            &--primeiro {
                border-top-left-radius: 50%;
                border-bottom-left-radius: 50%;
                box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);
            }
            &--segundo {
                border-top-right-radius: 50%;
                border-bottom-right-radius: 50%;
                box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);
            }
            &--unico {
                border-radius: 50%; 
                box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);
            }
        }
        .dia-atual {
            border: 2px solid #4A4A4A;
            border-radius: 50%;
        }
        .pointer {
            cursor: pointer;
        }
        .periodo {
            background-color: $period-color;
        }
        .fora-periodo {
            color: $unselected-text-color;
        }
        .dia-desativado {
            color: $unselected-text-color;
            pointer-events: none;
        }
        .margin-left-4 {
            margin-left: 4%;
        }
        .mes {  
            &--anterior {
                grid-area: mes--anterior;
            }
            &--posterior {
                grid-area: mes--posterior;
            }
            .svg {
                height: 20px;     
                fill: red;
            }
        }
        
        .ano {
            grid-area: ano;
        }
        .cab {
            color: $primary-color;
            &--domingo {
                grid-area: "cab--domingo";
            }
            &--segunda {
                grid-area: "cab--segunda";
            }
            &--terca {
                grid-area: "cab--terca";
            }
            &--quarta {
                grid-area: "cab--quarta";
            }
            &--quinta {
                grid-area: "cab--quinta";
            }
            &--sexta {
                grid-area: "cab--sexta";
            }
            &--sabado {
                grid-area: "cab--sabado";
            }
        }

        .domingo {
            @for $i from 0 through 5 {
                &--#{$i} {
                    grid-area: unquote($string: "domingo--"+#{$i});
                }
            }
        }

        .segunda {
            @for $i from 0 through 5 {
                &--#{$i} {
                    grid-area: unquote($string: "segunda--"+#{$i});
                }
            }
        }

        .terca {
            @for $i from 0 through 5 {
                &--#{$i} {
                    grid-area: unquote($string: "terca--"+#{$i});
                }
            }
        }

        .quarta {
            @for $i from 0 through 5 {
                &--#{$i} {
                    grid-area: unquote($string: "quarta--"+#{$i});
                }
            }
        }

        .quinta {
            @for $i from 0 through 5 {
                &--#{$i} {
                    grid-area: unquote($string: "quinta--"+#{$i});
                }
            }
        }

        .sexta {
            @for $i from 0 through 5 {
                &--#{$i} {
                    grid-area: unquote($string: "sexta--"+#{$i});
                }
            }
        }

        .sabado {
            @for $i from 0 through 5 {
                &--#{$i} {
                    grid-area: unquote($string: "sabado--"+#{$i});
                }
            }
        }
    }
}